@model RecruitmentSystem.Models.AgingReportViewModel
@using RecruitmentSystem.Recruitment.Data;
@{
    ViewBag.Title = "Aging Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Aging Report</h3>
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("home","dashboard")">Dashboard</a></li>
                    <li class="li-active"> Aging Report</li>
                </ol>
            </div>
        </div>
        <div class="well custom-panel">
            <form method="post" id="form-aging-report" action="@Url.Action("index")"> 
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.SearchBy, Dropdown_list_data.SearchByList(), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row daily hidden">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control input-sm", placeholder = "Date" })
                                    <span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
                                    <script>
                                        $('#DateFrom').datetimepicker()
                                    </script>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.DateTo, new { @class = "form-control input-sm", placeholder = "Date" })
                                    <span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
                                    <script>
                                        $('#DateTo').datetimepicker()
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row monthly hidden">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.DropDownListFor(m => m.MonthDate, Dropdown_list_data.Monthly(),"", new { placeholder = "Date", @class = "form-control input-sm" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          @Html.DropDownListFor(m => m.YearDate, Dropdown_list_data.Yearly(), "", new { placeholder = "Date", @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="row yearly hidden">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @Html.DropDownListFor(m => m.YearlyDate, Dropdown_list_data.Yearly(), "", new { placeholder = "Date", @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.SkillType, Dropdown_list_data.SkillTypeList(),"All Skill", new { @class = "form-control input-sm" })

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Branch, Dropdown_list_data.branchlist(),"All Branch", new { @class = "form-control input-sm" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.AccountManager, Dropdown_list_data.AccountManagerList(), "All AM", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                           @Html.DropDownListFor(m => m.Coordinator, Dropdown_list_data.CoordinatorList(), "All Coordinator", new { @class = "form-control input-sm" })
                        </div>
                    </div>

                </div>

                <div class="row">


                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Recruiter, Dropdown_list_data.RecruiterList(),"All Recruiter", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Industry, Dropdown_list_data.IndustryList(), "All Industry", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Client, Dropdown_list_data.CompanyList(),"All Client", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="pull-right">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="btn-group">
                                <button class="btn btn-default btn-default-red btn-sm" type="button" data-url="@Url.Action("index")" onclick="ChangeUrlFormSubmit(this,'#form-aging-report','no')">Generate</button>
                                <button class="btn btn-default btn-default-red btn-sm" type="button" data-url="@Url.Action("download")" onclick="ChangeUrlFormSubmit(this,'#form-aging-report', 'no')">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <p class="empty-space-12"></p>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive scrollable">
                    <table class="table table-hover table-striped table-small-font">
                        <thead>
                            <tr>
                                <th>MRF</th>
                                <th>Requested</th>
                                <th>Approved</th>
                                <th>Classification</th>
                                <th>Skill Type</th>
                                <th>Position</th>
                                <th>Required Applicant</th>
                                <th>Shortlist Applicant</th>
                                <th>Hired Applicant</th>
                                <th>Batting Ratio</th>
                                <th>Aging</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                          @foreach(var i in Model.AgingReport())
                          {
                              <tr>
                                  <td>@i.mrfid</td>
                                  <td>@i.DateRequested</td>
                                  <td>@i.am_date_approved</td>
                                  <td>@i.Classification</td>
                                  <td>@i.SkillType</td>
                                  <td>@i.position_name</td>
                                  <td>@(i.RequiredNumber-i.cancel_number_requirement)</td>
                                  <td>@i.shortlist</td>
                                  <td>@i.accepted</td>
                                  <td>@(((int)i.batting_ratio).ToString("#0")) %</td>
                                  <td>@i.aging_days</td>
                                  <td>@i.status</td>
                              </tr>
                          }
                            @if (Model.AgingReport().Count() <= 0)
                            {
                                <tr>
                                   <td colspan="12" align="center">No Result Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>