@model IEnumerable<RecruitmentSystem.Recruitment.Data.sp_notification_listResult>
@using RecruitmentSystem.Recruitment.Class
@{
    ViewBag.Title = "NotificationSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h3>Notification Summary</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li> <a href="@Url.Action("dashboard","home")">Dashboard</a> </li>
            <li class="active">Your Nofitications</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your Notifications</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @foreach (var i in Model)
                    {
                        if (i.mrfid != "")
                        {
                            <li class="list-group-item " onclick="redirecturl('@Url.Action("dashboard", "RecruitmentProcess", new { mrfid = i.mrfid })')">

                                <a href="#">

                                    <b>@Users.Fullname(i.notify_by)</b>
                                    <p>@i.notification</p>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> @Tools.getdate(i.minutes) </p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item ">

                                <a href="#">

                                    <b>@Users.Fullname(i.notify_by)</b>
                                    <p>@i.notification</p>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> @Tools.getdate(i.minutes) </p>
                                </a>
                            </li>
                        }

                    }
                </ul>
            </div>
        </div>
    </div>
</div>
